.btn {
  @include font-title;

  font: inherit;
  outline: none;
  color: $color-secondary-text;
  text-transform: uppercase;
  background-color: $color-accent;
  border: $border-aspect $color-accent;
  border-radius: .4rem;
  line-height: 3.5rem;
  width: 100%;

  cursor: pointer;

  &--transparent {
    opacity: .6;
  }

  &:disabled {
    background-color: $color-accent-light;
    border-color: $color-accent-light;
  }
}

.btn-fake {
  cursor: pointer;
}