.btn {
  display: flex;
  justify-content: center;
  font-family: inherit;
  font-size: inherit;
  line-height: 2.4rem;
  letter-spacing: normal;
  align-items: center;
  border: .1rem solid $color-primary-text;
  border-radius: .8rem;
  padding: 1.1rem 1.2rem;
  outline: none;
  width: 100%;
  cursor: pointer;

  &__icon {
    display: flex;
  }

  &__text {
    display: flex;
    justify-content: center;
    flex-grow: 2;
  }

  &--raised {
    color: $color-secondary-text;
    background-color: $color-secondary;
  }

  &--long-text {
    font-size: 1.4rem !important;
  }
}