.btn {

  &,
  &:link,
  &:visited {
    display: inline-block;
    font-family: inherit;
    color: inherit;
    font-size: $default-font-size;
    text-align: center;
    text-decoration: none;
    outline: none;
    border-radius: 3rem;
    margin-right: 1.6rem;
    padding: 1rem 2rem;
    width: 22rem;
    cursor: pointer;
  }

  &:active,
  &:focus {

  }

  &--raised {
    background-color: $color-primary;
    color: $color-primary-text;
    border: .1rem solid $color-primary;
  }
}

.btn-social {
  display: inline-block;

  &__icon {
    font-family: inherit;
    color: inherit;
    fill: $color-primary-text;
    border: .1rem solid $color-primary-text;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__legend {
    
  }
}