$border-radius: .8rem;

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;

  &,
  &:link,
  &:visited {
    font-family: inherit;
    font-size: $default-font-size;
    line-height: 2.4rem;
    letter-spacing: normal;
    padding: 1.1rem 2.2rem;
    border-radius: $border-radius;
    border: .1rem solid transparent;
    text-align: center;
    text-decoration: none;
    outline: none;
    width: 100%;
  }

  &--raised {
    color: $color-secondary-text;
    background-color: $color-secondary;
  }
}

.btn-rich {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &__icon {
    font-family: inherit;
    color: inherit;
    fill: $color-primary-text;
    border-width: .1rem;
    border-style: solid; 
    border-color: inherit;
    border-radius: $border-radius;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}