.dialog {
  &__title {
    margin-bottom: 4rem;
  }

  &__msg {
    font-family: inherit;
    font-size: inherit;
    color: $color-secondary-text;
    margin-bottom: 2.5rem;

    &--error {
      color: $color-error-text;
    }
  }
}