$input-border: .1rem solid $color-tertiary-text;
$input-border-radius: .4rem;

.input-pretty {
  display: flex;

  &__icon {
    order: 1;
    fill: $color-primary-text;
    background-color: $color-primary;
    border: $input-border;
    border-radius: $input-border-radius;
    display: flex;
    align-items: center;

    // simulate one element (icon + input)
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }

  &__input {
    order: 2;
    width: 90%;
    font-size: $default-font-size;
    line-height: 2.4rem;
    padding: 1.1rem 1.1rem 1.1rem .2rem;
    background-color: $color-primary;
    border: $input-border;
    border-radius: $input-border-radius;
    outline: none;

    // simulate one element (icon + input)
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;

    &:focus {
      border-color: $color-primary-text;
    }

    &:required {
      // tricky for outline error in firefox
      box-shadow: none;
    }
  }

  &__input:focus + &__icon {
    border-color: $color-primary-text;
  }
}