.input {
  background-color: $color-secondary;

  @include full-width;
  font: inherit;
  color: inherit;
  outline: none;
  box-shadow: none;
  border: none;

  padding-bottom: .5rem;
  border-bottom: $border-aspect $color-grey;

  &::placeholder {
    color: inherit;
  }

  &__error {
    @include font-error;
    height: 1.6rem;
    color: $color-error;
    text-align: right;
  }

  &--invalid {
    border-color: $color-error;
  }
}