// CONTAINER INPUT
.input__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  // INPUT
  order: 2;
  
  @include full-width;
  font: inherit;
  color: inherit;
  background-color: inherit;
  outline: none;
  box-shadow: none;
  border: none;
  padding-bottom: .5rem;
  border-bottom: $border-aspect $color-grey;

  &::placeholder { color: inherit; }

  // BORDER
  &__border { order: 3; }

  & + &__border {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 0; 
    height: .1rem; 
    background-color: $color-accent;
    transition: 0.3s;
  }

  &--valid:focus + &__border {
    width: 100%; 
    transition: 0.3s;
  }

  // LABEL
  &__label {
    @include font-color-light;
    order: 1;
    display: block;
    transition: all .3s;
  }

  &:placeholder-shown ~ &__label {
    opacity: 0; // for animate
    visibility: hidden; // we can't animate visibility
    transform: translateY(1rem);
  }

  // SUB INPUT
  &__sub {
    @include font-sub-input;
    height: 1.6rem;
    text-align: right;
    color: inherit;
  }

  // ERROR
  &__error { color: $color-error; }

  &--invalid { border-color: $color-error; }


  // HACK chrome autofill
  &:-webkit-autofill {
    -webkit-text-fill-color: $color-secondary-text;
    -webkit-box-shadow: 0 0 0 100px $color-secondary inset;
  }

  .content--light &:-webkit-autofill {
    -webkit-text-fill-color: $color-primary-text;
    -webkit-box-shadow: 0 0 0 100px $color-primary inset;
  }
}