.link {
  color: inherit;
  text-decoration: none;

  &:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 99%;
    border-bottom: $border-aspect transparent;
    transition: border-bottom $default-transition-duration;
  }
  
  &--active:after {
    border-color: $color-accent;
  }
}
