.select {
  @include font-action;

  outline: none;
  color: $color-primary-text;
  text-transform: uppercase;
  // background-color: $color-accent;
  border: $border-aspect $color-accent;
  border-radius: .4rem;
  line-height: 3.5rem;
  padding: 0 2rem;
  // width: 100%;

  &::after {
    content: 'a';
    color: red;
    background-color: yellow;
  }
}