.signup {

  &__other {
    margin-top: 1rem;
  }

  &__actions {
    font-size: 1.4rem;
  }

  &-choice {
    
    &__actions {
      grid-row-gap: $gutter-row-large;
    }
  
    &__other {
      margin-top: 4rem;
      display: grid;
      justify-items: center;
    }
  }
}
