.user {

  &__photo {

    & > img {
      @include photo-portrait;
    }
  }
  
  &__avatar {
    @include photo-portrait;
    display: flex;
    justify-content: center;
    border: $border-aspect $color-primary-text;
    
    & > svg {
      fill: inherit;
    }
  }
}