*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  // FIXME where do I place this code?
  -webkit-appearance:     none;
  -moz-appearance:        none;
  -ms-appearance:         none;
  -o-appearance:          none;
  appearance:             none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px (it simplificate calculations)
}

body {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: $color-primary-text;
  line-height: $default-line-height;

  // FIXME to delete after dev
  background-color: rgba(143, 229, 184, .6);
}