.h1 { 
  font-size: 3.4rem;
  font-weight: 600;
  letter-spacing: .2rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

.h2 { 
  text-transform: uppercase;
  // font-size: 1.8rem;
}

.h3 {
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: .2rem;
}

.f {
  &__sub { 
    font-size: 1.2rem; 
    font-style: italic;
  }
  
  &__nav { font-size: 2rem; }
  
  &__btn {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .2rem;
  }
}

.quote {
  font-style: italic;

  &:before,
  &:after { content:"\0022"; }
}

.paragraph {
  text-align: center;
  font-size: 1.8rem;
  color: $color-grey;
  
  &--highlighted {
    color: $color-primary-text;
    font-size: 2.2rem;
  }
}