// TYPOGRAPHY RULES

%h {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1;
}

.h1 {
  @extend %h;
  font-size: 3.5rem;
  color: $color-primary-text;
  margin-bottom: 2rem;
}

.h2 {
  @extend %h;
  font-size: 2.5rem;
  line-height: 2.6rem;
  color: $color-primary-text;
}

%content {
  font-family: $font-secondary;
}

.hilighted {
  font-size: 2.7rem;
}

.asterix {
  @extend %content;
  font-size: 1.4rem;
  color: $color-primary-text;

  &--center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form-error {
  @extend %content;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: $color-error-text;
}