.h {
  &1 { @include font-h1 }

  &2 { @include font-h2 }

  &--slide { 
    @include font-title--slide; 

    @media only screen and (min-width: $bp-smallest) {
      font-size: 4rem;
    }
  }

  &--popup { @include font-title--popup; }
}

.quote {
  font-style: italic;

  &:before,
  &:after { content:"\0022"; }
}

.italic {
  font-style: italic;
}