// COLOR VARIABLES
$color-primary: #222;
$color-primary-text: #fff;
$color-secondary: #ccc;
$color-secondary-text: #000;

// FONT VARIABLES
// $font-primary: 'Oxygen', sans-serif;
// $font-display: 'Open Sans', sans-serif;
$font-primary: 'Lato', 'Arial', sans-serif;
$font-display: 'Lato', 'Arial', sans-serif;
$default-font-size: 1.6rem;

// SPACING
$default-line-height: 1.6;

// BORDER
$default-border-size: .3rem;