.login {
  background-image: 
    linear-gradient(rgba(0, 0, 0, .20), rgba(0, 0, 0, .70)),
    url(./img/isorepublic-coffee-mug-1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}