.welcome {
  background-image: 
    linear-gradient(rgba(0, 0, 0, .20), rgba(0, 0, 0, .70)),
    url(./img/isorepublic-coffee-mug-1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  &__box {
    &--top {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--bottom {
    }
  }

  &__btn {
    width: 17rem;
  }

  &__why { 
    font-size: 2.5rem; 
  }
}