$color-primary: #fff;
$color-secondary: #7adf9e;
$color-secondary-dark: #29a956;
$color-accent: #5849e0;
$color-accent-light: #8075e7;
$color-major: #ec0000;
$color-grey: #666;
$color-primary-text: #000;
$color-secondary-text: #fff;
$color-backgnd-popup: rgba(#000, .8);
$color-card-shadow: rgba(0, 0, 0, .2);