// FONT
%font {
  font-family: $font-primary;
  word-spacing: .1rem;
}

@mixin font-title {
  @extend %font;
  font-weight: 700;
  letter-spacing: .1rem;
}

@mixin font-title--slide {
  @include font-title;
  font-size: $font-title-slide;
  text-transform: uppercase;
}

@mixin font-title--popup {
  font-size: $font-title-popup-size;
}

@mixin font-h1 { 
  @extend %font;
  color: $color-primary-text; 
  font-size: $font-title;
  text-align: center;
}
@mixin font-h2 { font-size: $font-title; }

@mixin font-body {
  @extend %font;
  font-weight: 600;
  font-size: $font-body-size;
}

@mixin font-body--accent {
  @extend %font;
  font-size: 2.5rem;
}

@mixin font-nav {
  font-size: 2rem;
}

@mixin font-sub-input {
  @extend %font;
  word-spacing: 0rem;
  font-size: $font-sub-input-size;
}

@mixin font-action {
  @include font-title;
}

@mixin font-action--choice {
  @include font-action;
  letter-spacing: 0;
  text-transform: uppercase;
}

@mixin font-question {
  font-size: 2.2rem;
  text-align: center;
}

// TXT
@mixin wording {
  text-align: justify;
}

// COLOR
@mixin font-color-light {
  color: inherit;
  opacity: $font-opacity-light;
}

// SIZE
@mixin full-screen {
  height: 100vh;
  width: 100vw;
}

@mixin full-size {
  height: 100%;
  width: 100%;
}

@mixin icon-btn-size {
  height: 5rem;
  width: auto;
}

@mixin full-width { width: 100%; }

// SPACE
@mixin space-top { 
  margin-top: 2rem; 

  @media only screen and (min-width: $bp-smallest) {
    margin-top: 3.5rem;
  }
}
@mixin space-bottom {
  margin-bottom: 2rem; 
}
@mixin space-content { padding: 0 1rem; }

@mixin common-content {
  @include space-content;
  color: $color-primary-text;
}

// POSITIONING
@mixin logo-at-top {
  padding-top: .5rem;
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
}

// SHAPE
@mixin corner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
  height: 10rem;
  width: 10rem;
  border-radius: 45%;

  @media only screen and (min-width: $bp-smallest) {
    width: 16rem;
    height: 16rem;
  }
}

@mixin photo-portrait {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}


// Z-INDEX
@mixin ultra-top-priority-index { z-index: 3; }

@mixin top-priority-index { z-index: 2; }

@mixin priority-index { z-index: 1; }

@mixin backgnd-index { z-index: -100; }





// MEDIA QUERY MANAGER
/*
0 - 600px:        Phone
600 - 900px:      Tablet portrait
900 - 1200px:     Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px +:         Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

*/
// don't use px (eg. user change zoom) => use em (not rem -> fails for few browser)
// default browser font-size : 16px
// so : 600px/16px = 37.5
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
      @media only screen and (max-width: 37.5em) { @content };    //600px
  }
  @if $breakpoint == tab-port {
      @media only screen and (max-width: 56.25em) { @content };     //900px
      // my flavour...
      // @media only screen /*and (min-width: 37.51em)*/ and (max-width: 56.25em) { @content };     //900px
  }
  @if $breakpoint == tab-land {
      @media only screen and (max-width: 75em) { @content };    //1200px
      // my flavour...
      // @media only screen and (min-width: 56.26em) and (max-width: 75em) { @content };    //1200px
  }
  @if $breakpoint == big-desktop {
      @media only screen and (min-width: 112.5em) { @content };    //1800
  }
}