// FONT
%font {
  font-family: $font-primary;
  word-spacing: .1rem;
}
@mixin font-title {
  @extend %font;
  font-weight: 700;
  letter-spacing: .1rem;
}

@mixin font-title--slide {
  @include font-title;
  font-size: $font-title-size;
  text-transform: uppercase;
}

@mixin font-body {
  @extend %font;
  font-weight: 600;
  font-size: $font-body-size;
}

@mixin font-sub-input {
  @extend %font;
  word-spacing: 0rem;
  font-size: $font-sub-input-size;
}

// COLOR
@mixin font-color-light {
  color: inherit;
  opacity: $font-opacity-light;
}


// SIZE
@mixin full-screen {
  height: 100vh;
  width: 100vw;
}

@mixin full-size {
  height: 100%;
  width: 100%;
}

@mixin full-width { width: 100%; }

// SPACE
@mixin space-top { margin-top: 3rem; }

@mixin space-content { padding: 0 1rem; }

@mixin common-content {
  @include space-content;
  color: $color-primary-text;
  height: 105vh; // responsive todo
}

// POSITIONING
@mixin logo-at-top {
  padding-top: .5rem;
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
}

// SHAPE
@mixin corner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
  height: 10rem;
  width: 10rem;
  border-radius: 45%;
}


// Z-INDEX
@mixin ultra-top-priority-index { z-index: 3; }

@mixin top-priority-index { z-index: 2; }

@mixin priority-index { z-index: 1; }

@mixin backgnd-index { z-index: -100; }