.u-center-text { text-align: center; }

.u-margin-bottom-small { margin-bottom: 3rem; }
.u-margin-bottom-medium { margin-bottom: 5rem; }
.u-margin-bottom-big { margin-bottom: 9rem; }

.u-center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}