// FONT VARIABLES
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-title: 1.8rem;
$font-title-slide: 3rem;
$font-title-popup-size: 2.8rem;
$font-body-size: 1.2rem;
$font-sub-input-size: 1rem;
$font-opacity-light: .6;

// SPACING
$default-line-height: 1.6;
$gutter-row: 1rem;
$gutter-row-large: 3.2rem;
$gutter-column: 1rem;

// BORDER
$default-border-size: .1rem;
$default-border-radius: .4rem;
$border-aspect: .1rem solid;

// TRANSITION DURATION
$default-transition-duration: .2s;

// RESPONSIVE
$bp-largest: 75em; // 1200px/16=75
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px