.nav {

  &__connect {
    @include corner-grid;

    position: fixed;
    bottom: 0;
    left: 0;
    background-color:$color-secondary;
    cursor: pointer;
    
    &-content {
      align-self: end;
      grid-row: 1;
      grid-column: 2;
    }
    
    &--init {
      @include top-priority-index;
      transform: translate(-50%, 50%);
      transition: transform .8s linear;
    }
    
    &--active {
      transform: 
        translateX(calc(100vw - 50%))
        translateY(calc(50% - 100vh))
        scale(50);
      transition: 
        transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &--backgnd {
      @include backgnd-index;
    }

    @media only screen and (min-width: $bp-smallest) {
      &-content > svg {
        width: 5.2rem;
        height: 5.2rem;
      }
    }
  }

  &__close {
    @include corner-grid;

    position: fixed;
    top: 0;
    right: 0;
    background-color: $color-primary;
    cursor: pointer;
    transform: translate(50%, -50%);

    &-content {
      @include font-nav;

      justify-self: center;
      align-self: center;
      grid-row: 2;
      grid-column: 1;

      color: $color-primary-text;
    }

    &--init {
      opacity: 0;
      transition: opacity 600ms ease-in-out;
    }

    &--active {
      @include top-priority-index;
      opacity: 1;
      transition: opacity 600ms ease-in-out;
    }
  }
}