$transition: 600ms ease-in-out;

.nav {
  &__connect {
    @include corner-grid;

    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $color-secondary;
    cursor: pointer;
    
    &-content {
      align-self: end;
      grid-row: 1;
      grid-column: 2;
    }
    
    &--init {
      transform: translate(-50%, 50%);
      transition: all $transition;
    }
    
    &--active {
      z-index: -1;
      transform: 
        // it's magic...
        // translate(calc(100vw - 50%), calc(50% - 100vh))
        translateX(calc(100vw - 50%))
        translateY(calc(50% - 150vh))
        scale(50);
        opacity: 0;
        color: transparent;
      transition: all $transition;
    }
  }

  &__close {
    @include corner-grid;

    position: fixed;
    top: 0;
    right: 0;
    background-color: $color-primary;
    cursor: pointer;
    transform: translate(50%, -50%);

    &-content {
      justify-self: center;
      align-self: center;
      grid-row: 2;
      grid-column: 1;

      color: $color-primary-text;
      font-size: 2rem;
    }

    &--init {
      opacity: 0;
      transition: opacity $transition;
    }

    &--active {
      opacity: 1;
      transition: opacity $transition;
    }
  }

  &__menu {
    display: none;
    position: fixed;
    bottom: 0;
  }
}