.my-404 {
  background-image: 
  linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)),
  url(./img/dark-fall-forest-isorepublic.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: inherit;
}