.profile {
  @include common-content;
  @include menu-content;

  &__body { 
    text-align: center; 
  }

  &__terms { 
    @include space-top;
    text-align: center;
  }

  &__goal,
  &__members,
  &__load-data,
  &__unload-data,
  &__signout { @include space-top; }

  &__links {
    font-size: 2rem;
    margin-left: 1.6rem;
  }

  &__item {
    display: flex;
    align-items: center;
    // margin-bottom: 2rem;
  }

  &__role {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 2.2rem;
    color: $color-accent;
  }

  &__desc {
    font-size: 1.4rem;
    text-align: justify;
  }
}