.reset-pwd {
  @include full-size;
  @include space-content;
  display: flex;
  flex-direction: column;

  &__wording {
    @include space-top;
    text-align: justify;
  }

  &__form {
    @include space-top;
  }
}