.stat {
  // FIXME
  color: inherit;
  height: 105vh; 
  
  &__action {
    @include space-content
  }

  &__empty {
    @include space-top;
    color: $color-primary-text;
    text-align: center;
  }
}