.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.mon-bouton {
  height: 3rem;
}

.my-effect {
  display: flex;
  
  &--init {
    background-color: red;
    height: 30rem;
    align-items: flex-end;
    transition: all 1s;
  }
  &--active {
    background-color: green;
    height: 5rem;
    align-items: flex-start;
    transition: all 1s;
  }
}
