.tuto {
  @include common-content;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .bloc > * {
    @include space-bottom-big;
  }

  &__choice {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}