.tuto {
  @include common-content;
  height: 80vh; // TODO
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

// FIXME generalize

  .paragraph {
    text-align: center;
  }

  .paragraph .bloc:not(:first-child) {
    @include space-top;
  }

  &__title,
  &__question {
    @include font-question
  }

  &__choice {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &-actions > button:last-child {
      @include space-top;
    }
  }
}