$linear-gradient: linear-gradient(
  rgba(0, 0, 0, .3), 
  rgba(0, 0, 0, .3),
);

.welcome {
  // useful for the nav to be displayed
  @include priority-index;
  width: 100%;

  &__logo {
    @include logo-at-top;
    @include priority-index;
    
    position: absolute;
  }

  &__wording {
    position: fixed;
    padding: 3rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__txt {
    @include wording;
    width: 68vw;

    @media only screen and (min-width: $bp-smallest) {
      font-size: 1.8rem;
    }
  }

  &__backgnd {
    height: 100%;
    width: auto;
    background-size: cover;
    background-position: center;

    @media only screen and (min-width: $bp-smallest) {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
    }
  
    &--welcome {
      background-image: 
        $linear-gradient,
        url(../img/welcome-1024.jpg);
    }
  
    &--why {
      background-image: 
        $linear-gradient,
        url(../img/why-1024.jpg);
    }
  
    &--what {
      background-image: 
        $linear-gradient,
        url(../img/what-1024.jpg);
    }
  
    &--how {
      background-image: 
        $linear-gradient,
        url(../img/how-1024.jpg);
    }
  }
}