$linear-gradient: linear-gradient(
  rgba(0, 0, 0, .3), 
  rgba(0, 0, 0, .3),
);

.welcome {
  // useful for the nav to be displayed
  @include priority-index;
  width: 100%;

  &__logo {
    @include logo-at-top;
    @include priority-index;
    
    position: absolute;
  }

  &__h {
    @include space-bottom;
  }

  &__wording {
    @include space-top;
    position: absolute;
    padding: 3rem;
    // height: 100%;
    margin-top: 29vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__txt {
    text-align: center;
    width: 68vw;
  }

  &__backgnd {
    height: 100%;
    width: auto;
    background-size: cover;
    background-position: center;

    @media only screen and (min-width: $bp-smallest) {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
    }
  
    &--welcome {
      background-image: 
        $linear-gradient,
        url(../img/welcome-900.jpg);
    }
  
    &--why {
      background-image: 
        $linear-gradient,
        url(../img/why-900.jpg);
    }
  
    &--what {
      background-image: 
        $linear-gradient,
        url(../img/what-900.jpg);
    }
  
    &--how {
      background-image: 
        $linear-gradient,
        url(../img/how-900.jpg);
    }
  }
}