$loc-border-size: .1rem;

.btn {

  &,
  &:link,
  &:visited {
    display: inline-block;
    font-family: inherit;
    font-size: $default-font-size;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: $loc-border-size solid $color-secondary;
    border-radius: 3rem;
    margin-right: 1.6rem;
    padding: 1.6rem 3rem;
    width: 22rem;
    cursor: pointer;
  }

  &:active,
  &:focus {

  }

  &--ghost {
  background-color: transparent;
  color: $color-primary-text;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-primary-text;
  }

  &--secondary {
    background-color: $color-secondary;
    color: $color-secondary-text;
  }
}